@using OrderTracker.Models;

@{
  Layout = "_Layout";
}

<h2>Order list for: @Model["vendor"].VendorName:</h2>
<hr>

@if (@Model["orders"].Count == 0)
{
  <p>No orders have yet been added. <a href='/vendors/@Model["vendor"].Id/orders/new'>Click here</a> to add one.</p>
  <hr>
} 
@foreach (Order order in @Model["orders"])
{
  <p><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Date</a> - Loaves: @order.BreadCount - Pastries:@order.PastryCount - Total: $@order.Total</p>
  <hr>
}

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>